<section>
    <div class="d-flex justify-content-between">
        <a href="/pub/{{id}}" class="h5 text-dark card-title">{{title}}</a>
    </div>
    <p class="text-muted">{{user.username}} on {{format_date created_at}}</p>
    <p class="card-text">{{pub_text}}</p>
    <p class="text-muted">{{comments.length}} Comments</p>
</section>
