<div class="card border border-5 bg-light p-3 bg-opacity-75 container w-75">
    <div class="d-flex justify-content-between">
        <a href="/pub/{{id}}" class="h5 text-dark card-title">{{title}}</a>
        <a >Edit</a>
    </div>
    <p class="text-muted">{{user.username}} on {{format_date created_at}}</p>
    <p class="card-text">{{pub_text}}</p>
</div>
<br>